__pycache__/

# Ignore environment variable files
.env

# Ignore database files
*.sqlite3

media/
backups/
*.zip

# ignore static images for development
static/assets/img/

ongoing-issues.txt
sql_files/
