{% extends 'base.html' %}

{% block page_title %}Estrella de Belen - Agregar Materia{% endblock %}

{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Agregar Materia</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Materias</a></li>
                <li class="breadcrumb-item active">Agregar</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'add_subject' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Informacion de la materia</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                {{ form.code.label_tag }}
                                {{ form.code }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                {{ form.class_level.label_tag }}
                                {{ form.class_level }}
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{% url 'subject_list' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
