{% extends 'header.html' %}
{% load static %}

{% block page_title %} Preskool - Login {% endblock %}

{% block body %}
<div class="main-wrapper login-body">
   <div class="login-wrapper">
      <div class="container">
         <div class="loginbox">
            <div class="login-left">
               <img class="img-fluid" src="{% static 'assets/img/logo.png' %}" alt="Logo">
            </div>
            <div class="login-right">
               <div class="login-right-wrap">
                  <h1>Inicio de Sesión</h1>
                  
                  <p class="account-subtitle">Bienvenido a Estrella Belén</p>
                  {% if error %}
                  <div class="alert alert-danger" role="alert">
                     <span>{{ error }}</span>
                  </div>
                  {% endif %}

                  <form action="{% url 'login' %}" method="post">
                     {% csrf_token %}
                     <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                     </div>
                     <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                     </div>
                     <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
                     </div>
                  </form>
                  <div class="text-center forgotpass"><a href="{% url 'forgot_password' %}">Olvidaste tu contraseña?</a></div>
                  <div class="login-or">
                     <span class="or-line"></span>
                     <span class="span-or">o</span>
                  </div>
                  <div class="text-center dont-have">¿No tienes una cuenta? <a href="{% url 'signup' %}">Registrate</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}